<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="row">
            <% photos.forEach(function(photo) { %>
                <div class="col-sm-3">
                    <img src="https://farm<%= photo.farm %>.staticflickr.com/<%= photo.server %>/<%= photo.id %>_<%= photo.secret %>_q.jpg" class="img-responsive">
                </div>
                <% }); %>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>
